@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// https://chrome.google.com/webstore/detail/looper-for-youtube/iggpfpnahkgpnindfkdncknoldgnccdg/reviews
// https://www.alvinhkh.com/looperforyoutube/changelog
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
